extends template/base.pug

block content
    .primary
        .container
            .wrapper-40.center-align
                img(src="/images/logo.png", alt="")
                | <br>
                .wrapper
                    h4 Materius is a HTML, CS, and JS framework based on Google material design for responsive and mobile first projects.
                a.btn-large.primary(href='#') Geting Started
                p: small Currently v0.0.1
    .container
        .wrapper
            p teste
            p teste
            p teste
            p teste
            p teste
            p teste
            p teste
            p teste
            p teste
            p teste
            p teste
            p teste
            p teste
            p teste
            p teste
            p teste
            p teste
            p teste
            p teste
            p teste
            p teste
            p teste
            p teste
            p teste
            p teste
            p teste
            p teste
            p teste
            p teste
            p teste
            p teste
            p teste
            p teste
            p teste
            p teste
