@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import './components/reset'
@import './components/colors'
@import './components/_config'
@import './components/grid'
@import './components/icons'
@import './components/typography'
@import './components/waves'
@import './components/shadow'
@import './components/buttons'
@import './components/input-box'
@import './components/navbar'
@import './components/footer'

p
    display block
    margin 10px 0

.right-align
    text-align right

.center-align
    text-align center

.right-align
    text-align right

.wrapper
    padding 20px

.wrapper-40
    padding 40px
