@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import './components/reset'
@import './components/colors'
@import './components/_config'
@import './components/grid'
@import './components/icons'
@import './components/typography'
@import './components/waves'
@import './components/shadow'
@import './components/buttons'
@import './components/input-box'
@import './components/navbar'
@import './components/footer'

p
    display block
    margin 10px 0

.right-align
    text-align right
.center-align
    text-align center
.right-align
    text-align right

.wrapper-5
    padding 5px
.wrapper-5
    padding 10px
.wrapper
    padding 20px
.wrapper-40
    padding 40px
.wrapper-80
    padding 80px
.section
    margin 40px 0

.bordered
    border solid 1px #ccc
.bordered-2
    border solid 2px #ccc

// colors
.primary
    background-color $primary-color
    colorByBackground($primary-color)
.secondary
    background-color $secondary-color
    colorByBackground($secondary-color)
.success
    background-color $success-color
    colorByBackground($success-color)
.info
    background-color $info-color
    colorByBackground($info-color)
.warning
    background-color $warning-color
    colorByBackground($warning-color)
.danger
    background-color $danger-color
    colorByBackground($danger-color)
.primary-text
    color $primary-color
.secondary-text
    color $secondary-color
.success-text
    color $success-color
.info-text
    color $info-color
.warning-text
    color $warning-color
.danger-text
    color $danger-color
