// tags
p
    display block
    margin 10px 0

// aligments
.right-align
    text-align right
.center-align
    text-align center
.right-align
    text-align right

// wrappers
.wrapper-5
    display inline-block
    padding 5px
.wrapper-10
    display inline-block
    padding 10px
.wrapper
    display inline-block
    padding 20px
.wrapper-40
    display inline-block
    padding 40px
.wrapper-80
    display inline-block
    padding 80px
.section
    margin 40px 0

// borders
.bordered
    border solid 1px #ccc
.bordered-2
    border solid 2px #ccc

.divider
    width 100%
    display block
    height 1px
    overflow hidden
    background #eee

// colors
.primary
    background-color $primary-color !important
    colorByBackground($primary-color)

.secondary
    background-color $secondary-color !important
    colorByBackground($secondary-color)

.success
    background-color $success-color !important
    colorByBackground($success-color)

.info
    background-color $info-color !important
    colorByBackground($info-color)

.warning
    background-color $warning-color !important
    colorByBackground($warning-color)

.danger
    background-color $danger-color !important
    colorByBackground($danger-color)

.primary-text
    color $primary-color

.secondary-text
    color $secondary-color

.success-text
    color $success-color

.info-text
    color $info-color

.warning-text
    color $warning-color

.danger-text
    color $danger-color

// overlay
.materius-overlay
    position fixed
    left 0
    top 0
    width 100%
    height 100%
    height 100vh
    background #000
    z-index 998
    visibility hidden
    opacity 0
    transition opacity .26s ease

    &.active
        opacity .5
        visibility visible
        transition opacity .26s ease
