.pagination
    display inline-block
    vertical-align middle

    a
        display inline-block
        vertical-align middle
        @extend .btn-small

        &.active
            @extend .btn-small.primary
